@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');
* {
  font-family: "Gowun Batang", sans-serif;
}

/* header {
  position: fixed;
  z-index: 1;
  align-items: center;
} */

body {
  background-color: black;

}
.main {
  /* background-color: aqua; */
  background-image: url('https://occ-0-1123-1217.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeIfo7VL_VDyKnljV66IkR-4XLb6xpZqhpLSo3JUtbivnEW4s60PD27muH1mdaANM_8rGpgbm6L2oDgA_iELHZLZ2IQjG5lvp5d2.jpg?r=e6e.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
/* .main  button {
  background-color: transparent;
  border: 1px solid white;
} */

.mycards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 20px auto;
  /* padding-left: 10px; */
}
.mypostingbox {
  width: 500px;
  margin: 20px auto;
  padding: 20px;

  border: 1px solid white;
  border-radius: 5px;

}

.form-floating > input {
  background-color: transparent;
  color: white;
}
.form-floating > label {
  /* background-color: transparent; */
  color: white;
}
/* .input-group > select {
  background-color: transparent;
  color: white;
} */
.input-group > .input-group-text {
  background-color: transparent;
  color: white;
}
.input-group > option {
  background-color: transparent;
  color: white;
}
.input-group > label {
  /* background-color: transparent; */
  color: white;
}

.mypostingbox > button {
  width: 100%;
  margin: 0 auto;
}